// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.picture {
  float : left;
  width : 140px;
  height : 155px;

}

.pagination {
  margin-top: 10px;
  margin-bottom: 10px;
}
